/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/backend/js/app*.js
/public/backend/css/app*.css
/public/home/js/app*.js
/public/home/css/app*.css
/public/mix-manifest.json
/public/fonts/*
/public/backend/fonts/*
/composer.lock
/public/mix-manifest.json
/resources/assets/vendor/theme/*
